<section class="w-full flex items-center justify-center">
  <div
    class="w-2/3 flex flex-row justify-between items-center bg-white px-14 py-6 rounded shadow-xl/20 shadow-[#5ba4a4]"
  >
    <div class="flex items-center rounded bg-[#eef6f6]">
      <p class="text-[#5ba4a4] text-lg font-semibold px-4">Test</p>
      <Button (click)="removeFilterTag()" class="flex items-center justify-center p-3 bg-[#5ba4a4] rounded-r cursor-pointer hover:bg-[#2c3a3a] transition duration-200">
        <img src="images/icon-remove.svg" alt="remove" />
      </Button>
    </div>
    <button class="text-lg text-[#5ba4a4] font-semibold hover:underline cursor-pointer">
      Clear
    </button>
  </div>
</section>
