<section class="bg-[#effafa] flex flex-col gap-10">
  <picture
    ><source media="(min-width:640px)" srcset="images/bg-header-desktop.svg" />
    <img
      src="images/bg-header-mobile.svg"
      alt="Abstract geometric header"
      class="w-full bg-[#5ba4a4] -mb-20"
    />
  </picture>

  <app-filter-tag-list />

  <app-job-list />

  <div
    *ngIf="showNotification"
    class="fixed bottom-4 right-4 bg-gray-800 text-white px-4 py-2 rounded shadow-lg animate-fade-in-out transition-opacity duration-300"
  >
    {{ notificationMessage }}
  </div>
</section>

<router-outlet></router-outlet>
