<section class="w-full flex flex-col justify-evenly items-center gap-10 md:gap-4 py-8">
  <div
    *ngFor="let job of tagFilterService.filteredJobs$ | async"
    [ngClass]="{
      'border-l-5 border-[#5ba4a4]': job.featured,
      'border-l-0': !job.featured
    }"
    class="relative w-5/6 xl:w-2/3 bg-white p-6 flex flex-col lg:flex-row justify-between rounded shadow-xl/20 shadow-[#5ba4a4]"
  >
    <div class="flex flex-row gap-4">
      <!-- Company Logo -->
      <img [src]="job.logo" [alt]="job.company" class="absolute md:static -top-[10%] w-[20%] lg:w-auto lg:h-auto" />
      <!-- Main Details -->
      <div class="h-full flex flex-col justify-evenly pt-5 md:p-0 gap-2 md:gap-0">
        <div class="flex flex-row gap-2">
          <h3 class="text-[#5ba4a4] font-bold">{{ job.company }}</h3>
          <p
            *ngIf="job.new"
            class="flex items-center justify-center text-xs font-medium text-white bg-[#5ba4a4] px-2 py-0.5 rounded-xl uppercase leading-tight"
          >
            New!
          </p>
          <p
            *ngIf="job.featured"
            class="flex items-center justify-center text-xs font-medium text-white bg-[#2c3a3a] px-2 py-0.5 rounded-xl uppercase leading-tight"
          >
            featured
          </p>
        </div>

        <a
          href=""
          class="text-xl font-bold hover:text-[#5ba4a4] transition duration-200"
          >{{ job.position }}</a
        >
        <!-- About job -->
        <div
          class="flex flex-wrap items-center text-sm font-semibold text-[#7b8e8e] gap-x-2"
        >
          <span>{{ job.postedAt }}</span>
          <span class="hidden sm:inline">•</span>
          <span>{{ job.contract }}</span>
          <span class="hidden sm:inline">•</span>
          <span>{{ job.location }}</span>
        </div>
      </div>
    </div>

    <hr class="block w-[90%] border-[#7b8e8e] my-4 lg:hidden">

    <!-- Job specifications -->
    <div class="flex flex-row gap-4 items-center flex-wrap">
      <div class="group" *ngFor="let tag of getJobTags(job)">
        <button
          (click)="addFilterTag(tag)"
          class="bg-[#eef6f6] rounded px-2 py-1 group-hover:bg-[#5ba4a4] text-[#5ba4a4] text-lg font-semibold cursor-pointer group-hover:text-white transition duration-200"
        >
          {{ tag }}
        </button>
      </div>
    </div>
  </div>
</section>
